body {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 3%;
}

img {
  max-width: 100%;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:hover,a:visited {
  color: black; }

.nav li {
  margin-bottom: 7%;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 10%;
  margin-top: 2em;
  padding-left: 0;
}

.port {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-size: 1.4em;
}

.introduction {
  padding-bottom: 13%;
}

h3 {
  font-size: 1.6em;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5,
.work-6 {
  padding-bottom: 10%;
}

.personal {
  font-size: 1.2em;
  padding-top: 20%;
  padding-bottom: 5%;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom-left {
  float: left;
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 1.2em;
  font-weight: bold;
}

.top {
  color: black;
  text-decoration: none;
  float: right;
  padding-top: 100px;
  padding-bottom: 25px;
  font-size: 1.2em;
  font-weight: bold;
}

.bottom-right {
display: none;
}


  



@media(min-width:768px) {

  .nav li {
    display: inline-block;
    width: 140px;
  }
  
.opening {
  display: flex;
  flex-direction: row-reverse;
}

.introduction {
  width: 55%;
  padding-right: 30px;
  text-align: left;
  font-size: 1.2em; 
}

.photo {
  float: right;
  width: 43%;
}

.port {
  text-align: center;
}

.work-1,
.work-3,
.work-5 {
  float: left;
  width: 49%;
}

.work-2,
.work-4,
.work-6 {
  float: right;
  width: 49%;
}

.about {
  font-size: 1.1em;
}

.bottom-right { 
  display: inline-block;
  float: right;

  
}

.bottom-right li {
  list-style: none;
  padding-left: 20px;
  padding-top: 95px;
  text-transform: uppercase;
  margin: auto;
  float: left;
  /* display: inline-block; */
  /* width: 110px; */
} 

.bottom-left {
  float: left;
}

.top {
  display: none;
}


}


@media(min-width:1024px) {

  .name {
    float: left;
  } 
  
  .nav {
    float: right; 
  }

  header::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .introduction {
    float: left;
  }

  .photo {
    float: right;
  }

  .port {
  margin-bottom: 2%;
  }
  
  .work-1,
  .work-2,
  .work-3,
  .work-4,
  .work-5,
  .work-6 {
    float: left;
    width: 32%;
  }
  
  .work-1,
  .work-4 {
    margin-right: 2%;
  }
  
  .work-3,
  .work-6 {
    margin-left: 2%;
  }
  
  .personal {
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bold; 
    font-size: 1.5em;
  }
  
  .bottom-left {
  padding-top: 10%;
  font-weight: bold;
  font-size: 1.5em;
  }
  
  .bottom-right {
    float: right;
  }
  
  .final {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  
  }  

  